<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- HANDLEBARS CDN --}}

    <title>Virtual Pet</title>
</head>

<body>
    <header>
            <h1>Virtual Pet</h1>
    </header>
    
    <nav>
        <ul>
            <li>
                Request a Consult
            </li>
            <li>
                Consult Appointment 
            </li>
        </ul>
    </nav>

     <nav>
        <ul>
            <li>
               Sign up
            </li>
            <li>
                Login
            </li>
        </ul>
    </nav>

    
{{{body}}}
</body>
</html>