<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- MATERIALIZE --}}
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{!-- STYLE CSS --}}
 <link rel="stylesheet" href="./css/style.css" type="text/css">

    <title>Virtual Pet</title>
</head>

<body>
    <header>
            <h1>Virtual Pet</h1>
    </header>
    <div class="container" >
        <ul>
            <li class= "consult-container col s6 m4 l3"><a class="waves-effect waves-light btn"><i class="material-icons right"></i>Request a Consult</a>
            </li>
               <li class= "consult-container col s6 m4 l3"><a class="waves-effect waves-light btn"><i class="material-icons right"></i>Consult Appointment</a>
            </li>
        </ul>
    </nav>

       <ul>
            <li class= "consult-container col s6 m4 l3"><a class="waves-effect waves-light btn"><i class="material-icons right"></i>Sign up</a>
            </li>
               <li class= "consult-container col s6 m4 l3"><a class="waves-effect waves-light btn"><i class="material-icons right"></i>Login</a>
            </li>
        </ul>

</div>  
{{{body}}}
</body>
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>
        
</html>