 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- MATERIALIZE --}}
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{!-- STYLE CSS --}}
 <link rel="stylesheet" href="./css/style.css" type="text/css">

 {{!-- GOOGLE FONTS --}}
       <link rel=“preconnect” href=“https://fonts.googleapis.com”>
     <link rel=“preconnect” href=“https://fonts.gstatic.com” crossorigin>
<link href=“https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap” rel=“stylesheet”>

    <title>Virtual Pet</title>
</head>

<body>
    <header>
        <div class="header-container">
        <img src="./logo.png">
        </div>
    </header>
    
<div class="container">
    <div class="row"></div>
        <a class="waves-effect waves-light btn-large blue darken-3 "><i class="material-icons right blue darken-3">cloud</i>Request a Consult</a>
        <a class="waves-effect waves-light btn-large blue darken-3"><i class="material-icons right blue darken-3">cloud</i>Sign up</a>
        <a class="waves-effect waves-light btn-large blue darken-3"><i class="material-icons right blue darken-3">cloud</i>Login</a>
    </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="./cute-dog.jpg">
          <span class="card-title">Forum</span>
        </div>
        <div class="card-content">
          <p>Do you have a question about your pet?</p>
        </div>
        <div class="card-action">
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>
{{{body}}}


</body>
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</div>
  </html>
        
</html>
