<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- HANDLEBARS CDN --}}

    <title>Virtual Pet</title>
</head>

<body>
    <header>
            <h1>Virtual Pet</h1>
    </header>
    
    <nav>
        <ul>
            <button>
                <a href="/forum">
                Request a Consult
                </a>
            </button>
            <button>
                <a href="/forum">
                Consult Appointment 
                </a>
            </button>
            <button>
                <a href="/forum">
                  forums
                </a>
            </button>
        </ul>
    </nav>

     <nav>
        <ul>
            <button>
                <a href="/forum">
               Sign up
                </a>
            </button>
            <button>
                <a href="/forum">
                Login
                </a>
            </button>
        </ul>
    </nav>

    
{{{body}}}
</body>
</html>