<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- HANDLEBARS CDN --}}

    <title>Virtual Pet</title>
</head>

<body>
    <header>
            <h1>Virtual Pet</h1>
    </header>
    
    <nav>
        <ul>
            <li>
                Request a Consult
            </li>
            <li>
                Consult Appointment 
            </li>
        </ul>
    </nav>

     <nav>
        <ul>
            <li>
               Sign up
            </li>
            <li>
                <button>
                    <a href='/login'>Login</a>
                </button>
            </li>
        </ul>
    </nav>

    <div class="post-container">
        <h3>
            Does my pet have a food allergy?
        </h3>
        <p>
"If a pet seems itchier than usual or is chewing on their feet, scratching their underarms or face, or feeling like it has hot spots, people often assume a food allergy is to blame. While diet can be a component of a pet's skin issues, an actual food allergy is unlikely.

"Only about 10% of pets have real food allergies," Nelson said. "The other 90% of itchy, uncomfortable pets are typically some sort of inhaled allergen just like us, or a flea allergy." 
-Dr. Katy Nelson
        </p>
    </div>

    
{{{body}}}
<h1>GOOD EVENING</h1>
</body>
</html>