 <link rel="stylesheet" href="./css/style.css" text="type/css">
<div class="row">

 <a class="waves-effect waves-light btn-large blue darken-3 col s12 m6 l4 offset-l4 askbutton" href="/post"><i class="material-icons right blue darken-3">cloud</i>Ask Question</a>
</div>

</div>
<script src="./js/reply.js"></script>

  <div class="row">
    <div class="col s12 m6 l4 offset-l4">
      <div class="card">
        <div class="card-content">
        
          <p><form class="forumholder ">
    {{#each forums}}
    <li class="{{this.id}}">
        {{this.post}}
        <br>
        {{this.response}}
    </li>
    {{/each}}
</form></p>
        </div>
        <div class="card-action">
         
        </div>
      </div>
    </div>
  </div>