    {{!-- MATERIALIZE --}}
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{!-- STYLE CSS --}}
 <link rel="stylesheet" href="./css/style.css" type="text/css">

 
 {{!-- FORUM AREA --}}
 <div class="row forum-container">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="./cute-dog.jpg">
          <span class="card-title">Forum</span>
        </div>
        <div class="card-content">
          <p>Post forum question here </p>
    </div>
        <div class="card-action">
          <a href="#">Link to Forum</a>
        </div>
      </div>
    </div>
  </div> 
    </div>
{{{body}}}
</body>
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</div>
  </html>
        
</html>