<h3> Request a consult</h3>
<h4>Please refer to our Calendly appointment calander to see avalible consult times.</h4>
<a href= "#" class="calendly"> </a>
<p>You can make a request for a consult here.</p> 
<form action="/action_page.php" method="get">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
    <label for="vet">Appointment Time: </label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>


