<div class="text-center">
  <h2>{{question}}</h2>
  <input class="form-input" type="text" id="response" name="response" />
  <p>
    <button class="btn btn-primary" id="respond">Respond</button>
  </p>
</div>

<script>
const respondHandler = async (event) => {
    console.log("working")
    const response = document.querySelector('#response').value.trim();
    console.log(response)
    if (response) {
        const res = await fetch('', {
            method: 'POST',
            body: JSON.stringify({ animal, post, picture }),
            headers: { 'Content-Type': 'application/json' },
        });

        if (res.ok) {
            document.location.replace('/')
        } else {
            alert(response.statusText);
        }
    }
}
document.querySelector('#respond').addEventListener('click', respondHandler);
</script>