
<center>
    <h1> Vet Login Form </h1>
</center>
<form class="modal-content login-form">
    <div class="container">
        <h2>Login</h2>
        <hr>
        <label for="email"><b>First Name</b></label>
        <input type="text" id="vetfirstname" placeholder="Enter First Name">
        <br>
        <label for="psw"><b >Last Name</b></label>
        <input type="text" id="vetlastname" placeholder="Enter Last Name">
        <br>
        <label for="dea"><b>DEA</b></label>
        <input type="password" id="vetdea" placeholder="Enter DEA">
        <br>

        <div class="clearfix">
            <button type="submit" id="vetlogin">Login</button>
        </div>
    </div>
</form>

<!-- The Modal (contains the Sign Up form) -->
<form class="modal-content signup-form">
    <div class="container">
        <h1>Sign Up</h2>
        <p class="text-blue-darken-4">Please fill in this form to create an account.</p>
        <hr>
        <label for="email" class="text-blue-darken-4"><b>First Name</b></label>
        <input type="text" id="vetfirstsign" placeholder="Enter First Name">
        <br>
        <label for="psw" class="text-blue-darken-4"><b>Last Name</b></label>
        <input type="text" id="vetlastnsign" placeholder="Enter Last Name">
        <br>
        <label for="dea" class="text-blue-darken-4"><b>DEA</b></label>
        <input type="password" id="vetdeasign" placeholder="Enter DEA">
        <br>

        <p class="text-blue-darken-4">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">

            <button type="submit" id="vetsignup" class="text-blue-darken-4">Sign Up</button>
        </div>
    </div>
</form>

<script src="./js/vetlogin.js"></script>